body{
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; ;   
}
.topheader{
    background-color: black;
    color: white;
    text-align: center;
    height: 38px;
    margin: 0%;
    
}
.topheader p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: 0%;
    height: 38px;
}
.topheader:hover{
    background-color: rgb(35, 34, 34);
}
.navcontainer{
    height:  89px;
    display: flex;
    align-items: center;
    
}
.logo{
    margin-left: 250px;
    width: 120px;
    display: flex;
    padding: 3px;
    height: 25px;
}
.navlinks ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size:16px ;
    margin-left: 20px;
    cursor: pointer;
    font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: 0%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    list-style: none;
    height: 88.39px;
    
}
.navlinks{
    margin-left: 50px;  
}
.navlinks ul li a{
    color: white;
    width: auto;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.icons{
    color:white;
    display: flex;
    align-items: center;
    margin-right: 250px;
}
.menu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.menu:hover{
    background-color: rgb(35, 34, 34);
}
.icons:hover{
    background-color: rgb(35, 34, 34);
}
.images{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;

}
.contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    column-gap: 50px;
}
.founder{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 22%;
    margin-bottom: 5%;
}
.Note h2{
    margin-top: 10%;
    margin-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 24px;
}
.para p{
    margin-top: 5%;
    margin-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.about button{
    height: 49px;
    width: 140px;
    margin-left: 10%;
    margin-top: 5%;
    background-color: black;
    color: white;
}
.about a{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}
.contacts h2{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.contacts p{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 17px;
    display: flex;
    justify-content: center;
}
.contacts a{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
}
.copyright{
    border: 5cm;
}
.copyright ul{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 2ch;
    height: 50px;
    align-items: flex-end;
}

