* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.topheader{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    margin: 0%;
}
.topheader p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: 0%;

}
.navcontainer{
    height: 70px;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 100px;
    width: 100px;
    display: flex;
    padding: 3px;
}
li{
    list-style: none;
    display: inline-block;
    font-size:15px ;
    margin-left: 20px;
    cursor: pointer;
    gap: 20px;
    font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin: 0%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    list-style: none;
}
.navcontainer{
    display: flex;
    align-items: center;
    justify-content: start;
}
.navlinks{
    margin-left: 50px;
    
}
.images{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;

}
.contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
    column-gap: 50px;
    

}

